[submodule "ncurses"]
	path = ncurses
	url = https://github.com/mirror/ncurses.git
[submodule "ios-cmake"]
	path = ios-cmake
	url = https://github.com/leetal/ios-cmake.git
[submodule "SoftEtherVPN"]
	path = SoftEtherVPN
	url = https://github.com/SoftEtherVPN/SoftEtherVPN_Stable.git
